.Cleaning {
	.top-content {
		height: 85vw;

		position: relative;
	}

	.dom {
		position: absolute;

		right: 0;
		top: 1.5vw;

		width: 47vw;
	}

	.title {
		color: var(--main-header-color);
		position: absolute;
		font-size: 7vw;
		left: 10vw;
		top: 4vw;
		line-height: 6vw;

		.clean,
		.success {
			font-weight: bold;
		}

		.betina {
			font-family: GlebastaBetina;
			font-size: 5vw;

			color: #000;
		}

		.success {
			margin-right: 1.5vw;
        }
        
        .clean {
            margin-left: 1.5vw;
        }
	}

	.blablabla {
		position: absolute;
		left: 10vw;
		top: 28vw;

		text-align: left;

		width: 60vw;

		font-size: 1.6vw;
	}

	.list {
		position: absolute;

		top: 43vw;
		left: 10vw;

		list-style: none;

		padding: 0;

		text-align: left;

		.item {
			display: flex;
			margin-bottom: 2vw;

			.pic-wrapper {
				position: relative;
				width: 4vw;

				.pic {
					width: 100%;

					position: absolute;

					top: 0;
					bottom: 0;

					margin: auto;
				}
			}

			.text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				margin-left: 3vw;

				width: 35vw;

				.top {
					color: var(--main-header-color);

					font-weight: bold;
					font-size: 1.5vw;

					margin-bottom: 0.5vw;
				}

				.bottom {
					font-size: 1.1vw;
				}
			}
		}
	}

	.buttons {
		position: absolute;

		top: 77vw;
		left: 0;
		right: 0;

		.btn {
			padding: 13px 29px;

			font-size: 33px;

			border-radius: 16px;

			width: 18vw;
			min-width: 285px;

			&.price {
				margin-left: 3vw;
			}
		}
	}

	.slider-wrapper {
		height: 43vw;

		position: relative;

		.moika {
			position: absolute;

			left: 10vw;
			top: 2vw;

			width: 23vw;
		}

		.how-many {
			position: absolute;

			left: 36vw;

			text-align: left;

			width: 59vw;

			.top {
				font-family: GlebastaExtraBold;
				font-size: 2.5vw;
				color: var(--main-header-color);
			}

			.bottom {
				font-size: 1.7vw;
			}
		}

		.gallery-wrapper {
            position: absolute;

            left: 4vw;
            top: 6vw;

			width: 60vw;
        }
        
        .phone {
            position: absolute;

            left: 68vw;
            top: 1vw;

            width: 20vw;
            height: 41vw;
            
            background: red;

            background: url('./pics/Смартфон.png');
            background-size: cover;
            background-repeat: no-repeat;

            .video {
                width: 18.3vw;
                height: 20.5vw;

                position: relative;

                top: 13vw;
            }
        }
	}

	.stages {
		.header {
			font-weight: bold;
			font-size: 3vw;
			font-family: GlebastaExtraBold;
			color: var(--main-header-color);
		}

		.stage {
			display: flex;
			align-items: center;

			position: relative;

			width: 80vw;

			left: 0;
			right: 0;

			margin: auto;

			text-align: left;

			&:not(:first-child) {
				top: -3vw;
			}

			&.right {
				flex-direction: row-reverse;

				.text {
					text-align: right;
				}
			}

			.text,
			.pic-wrapper {
				flex: 1;
				position: relative;

				text-align: center;
			}
			.pic {
				height: 24vw;
			}

			.text {
				text-align: left;
				.top {
					display: block;

					font-size: 2.8vw;
					color: var(--main-header-color);

					margin: 0;
				}

				.bottom {
					font-size: 1.3vw;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.Cleaning {
		.top-content {
			height: 1020px;
		}

		.dom {
			top: 18px;

			width: 564px;
		}

		.title {
			font-size: 84px;
			left: 120px;
			top: 48px;
			line-height: 72px;

			.success {
				margin-right: 18px;
            }
            
            .clean {
                margin-left: 18px;
            }
        }

		.blablabla {
			left: 120px;
			top: 336px;

			width: 720px;

			font-size: 19.2px;
		}

		.list {
			top: 516px;
			left: 120px;

			.item {
				margin-bottom: 24px;

				.pic-wrapper {
					width: 48px;
				}

				.text {
					margin-left: 36px;

					width: 420px;

					.top {
						font-size: 18px;

						margin-bottom: 6px;
					}

					.bottom {
						font-size: 13.2px;
					}
				}
			}
		}

		.buttons {
			top: 924px;

			.btn {
				width: 220px;

				&.price {
					margin-left: 36px;
				}
			}
		}

		.slider-wrapper {
			height: 516px;

			.moika {
				left: 120px;
				top: 24px;

				width: 276px;
			}

			.how-many {
				left: 432px;

				width: 708px;

				.top {
					font-size: 30px;
				}

				.bottom {
					font-size: 20.4px;
				}
			}

			.gallery-wrapper {
                left: 48px;
                width: 720px;
                top: 72px;
            }

            .phone {
                left: 816px;
                top: 12px;
    
                width: 240px;
                height: 492px;
    
                .video {
                    width: 219.6px;
                    height: 246px;
    
                    top: 156px;
                }
            }
		}

		.stages {
			.header {
				font-size: 36px;
			}

			.stage {
				width: 960px;

				&:not(:first-child) {
					top: -36px;
				}

				.pic {
					height: 288px;
				}

				.text {
					.top {
						font-size: 33.6px;
					}

					.bottom {
						font-size: 15.6px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.image-gallery-slide-wrapper .image-gallery-icon:hover {
		color: #fbca0e;
	}
}
