.Smm {
	display: inline-flex;

	.left {
		flex: 1;

		text-align: right;

		.text-wrapper {
			display: inline-block;
			text-align: left;

			width: 27vw;

			position: relative;

			.title {
				font-size: 3vw;
				margin-top: 3vw;
				margin-bottom: 0.3vw;
				font-family: GlebastaExtraBold;

				color: var(--main-header-color);
			}

			.desc {
				width: 73%;
				left: 33%;
				position: relative;
				color: var(--main-header-color);
				font-size: 1.2vw;

				margin-bottom: 3vw;
			}

			.button-wrapper {
				text-align: center;

				button {
					font-size: 2.5vw;
					padding: 0.7vw 2vw;
					border-radius: 1.4vw;
				}
			}
		}
	}

	.pic-wrapper {
		text-align: left;

		flex: 1;

		.pic {
			height: 22vw;
		}
	}
}

@media screen and (max-width: 1200px) {
	.Smm {
		.left {
			.text-wrapper {
				width: 324px;

				.title {
					font-size: 36px;
					margin-top: 36px;
					margin-bottom: 3.6px;
				}

				.desc {
					font-size: 14.4px;

					margin-bottom: 36px;
				}

				.button-wrapper {
					button {
						font-size: 30px;
						padding: 8.4px 24px;
						border-radius: 16.8px;
					}
				}
			}
		}

		.pic-wrapper {
			.pic {
				height: 264px;
			}
		}
	}
}
