.ClientsGrid {
	display: inline-block;

	position: relative;

	width: 80vw;
    min-width: 1000px;
    
    &.moving .wrapper .client {
        transition: left 10s linear;
    }

	.wrapper {
		position: relative;

		white-space: nowrap;
		overflow: hidden;

		height: 11.7vw;
		min-height: 146px;

		.client {
			position: absolute;
			display: none;
			
			top: 0;
			left: 0;

            width: 33.333%;
            
            cursor: pointer;

            .pic {
                width: 100%;
                height: 100%;

                transition: all .3s ease;
            }

            .overflow {
                position: absolute;

                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background: rgba(0, 0, 0, .3);

                opacity: 0;

                color: #fff;

                text-align: left;

                padding: 2% 0 0 4%;

                .title {
                    position: relative;
                    top: 30%;

                    opacity: 0;

                    font-size: 1.9vw;
                }

                .text {
                    font-size: 1.2vw;

                    opacity: 0;
                }
            }

            &:hover {
                .pic {
                    transform: scale(1.1);

                    filter: blur(25px);
                }

                .overflow {
                    opacity: 1;

                    .title {
                        top: 0;
    
                        opacity: 1;
                    }

                    .text {
                        opacity: 1;
                    }
                }
            }

			&.left {
				left: 0%;
				display: initial;
			}

			&.center {
				left: 33.33%;
				display: initial;
			}

			&.right {
				left: 66.66%;
				display: initial;
			}

			&.superleft {
				left: -33.33%;
				display: initial;
			}

			&.superright {
				left: 100%;
				display: initial;
			}
		}
	}
}
