.ServicesGrid {
	display: inline-block;

	.lines {
		background: url("./img/TM.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 39%;

		.line {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			margin-bottom: 52px;

			.item {
				position: relative;

				padding-bottom: 50px;

				img {
					height: 10vw;
					min-height: 156px;
				}

				.label {
					position: absolute;

					left: -50px;
					right: -50px;

					text-align: center;

					margin-top: 15px;

					font-size: 18px;
					font-weight: bold;

					color: var(--main-header-color);

					.point {
						width: 11px;
						height: 11px;

						display: inline-block;

						border-radius: 100%;

						margin-right: 10px;

						&.orange {
							background: var(--orange);
						}

						&.blue {
							background: var(--blue);
						}

						&.yellow {
							background: var(--yellow);
						}
					}
				}
			}
		}
	}
}
