body {
	margin: 0;
	font-family: "GlebastaFont", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--main-header-color: #0c0047;

	--orange: #fb5d49;
	--blue: #2586e2;
	--yellow: #fb9449;

	--content-min-width: 1200px;
	--content-width: 80vw;

	--main-background: linear-gradient(
		90deg,
		rgba(236, 240, 255, 1) 0%,
		rgba(244, 245, 255, 1) 50%
	);

	background: var(--main-background);

	min-width: var(--content-min-width);

	text-align: center;
}

* {
	font-family: "GlebastaFont", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
}

.section {
	margin-top: 50px;
}

.page-content {
	min-width: var(--content-min-width);
	width: var(--content-width);
}

.page-wrapper {
	display: inline-block;

	position: relative;

	margin: 30px 0;
}

.service-page-type-1 {
	&::before {
		content: "";

		position: absolute;
		left: 100px;
		width: 0px;
		top: 50px;
		bottom: 30px;

		border-left-width: 3px;
		border-left-style: solid;

		z-index: 1;
	}

	&::after {
		content: "";

		position: absolute;
		left: 100px;
		right: 100px;
		bottom: 30px;

		border-bottom-width: 3px;
		border-bottom-style: solid;

		z-index: 1;
	}

	.baloon {
		position: absolute;

		width: 30px;
		height: 30px;

		border-radius: 100%;

		&.top {
			top: 35px;
			left: 86px;
		}

		&.bottom {
			bottom: 18px;
			right: 86px;
		}
	}
}

button {
	outline: none;

	border: none;

	font-family: GlebastaFontBig;

	cursor: pointer;

	&.blue {
		color: #fff;

		background-color: var(--main-header-color);
	}

	&.yellow {
		color: var(--main-header-color);

		background-color: #fbca0e;
	}

	&.gradient {
		color: #fbca0e;

		background: linear-gradient(180deg, #001c70 0%, #0c0047 100%);
    }
    
    &.progress {
        opacity: .5;

        cursor: progress;

        pointer-events: none;
    }
}

.general-header {
	font-family: GlebastaFontBig;

	color: var(--main-header-color);

	padding: 20px 0 60px 0;

    font-size: 53px;
    
    text-align: center;
}

.MuiTextField-root {
    .MuiFormLabel-root,
    .MuiInputBase-root {
        font-family: GlebastaFont;
    }

    &.white {
        .MuiFormLabel-root,
        .MuiInputBase-root {
            color: #fff;
        }
    
        .MuiInputBase-root:before {
            border-bottom: 1px solid #fff;
        }
    
        .MuiInputBase-root:after {
            border-bottom: 2px solid #fff;
        }
    
        .MuiInputBase-root:hover:before {
            border-bottom: 1px solid #fbca0e;
        }
    }

    &.main-dialog-input {
        .MuiInputBase-root {
            font-size: 23px;
        }
    }
}

.MuiFormLabel-root.white,
.MuiFormLabel-root.white.Mui-focused {
    color: #fff;
}

.MuiSelect-root.white {
    color: #fff;
}

.MuiInput-root.MuiInputBase-root {
    &:before {
        border-bottom: 1px solid #fff;
    }

    &:after {
        border-bottom: 2px solid var(--main-header-color);
    }

    &:hover:not(.Mui-disabled):before {
        border-bottom: 1px solid #fbca0e;
    }

    .MuiSelect-icon {
        color: #fff;
    }
}

.MuiButton-root .MuiButton-label {
    display: block;

    text-align: center;
}

.MuiCheckbox-colorSecondary.Mui-checked.yellow {
    color: #fbca0e;
}

@font-face {
	font-family: "GlebastaFont";
	src: url(./../public/fonts/century_gothic.ttf) format("truetype");
}

@font-face {
	font-family: "GlebastaFontBig";
	src: url(./../public/fonts/big.ttf) format("truetype");
}

@font-face {
	font-family: "GlebastaExtraBold";
	src: url(./../public/fonts/Geometria-ExtraBold.ttf) format("truetype");
}

@font-face {
	font-family: "GlebastaBetina";
	src: url(./../public/fonts/12003.otf) format("opentype");
}

@font-face {
	font-family: "GlebastaDays";
	src: url(./../public/fonts/Days.otf) format("opentype");
}
