.SuperFooter {
	position: relative;

	height: 1100px;

	background: linear-gradient(
		180deg,
		rgba(0, 28, 112, 1) 0%,
		rgba(12, 0, 71, 1) 100%
    );
    
    .top {
        position: absolute;

		bottom: 340px;
		right: 0;
		top: 0;
		left: 0;
		margin: auto;

		resize: none;

		width: 1100px;

        display: inline-flex;

        padding-top: 50px;

        color: #fff;

        .yellow {
            color: #fbca0e;
        }
        
        .left {
            width: 50%;

            .heading {
                display: block;

                font-size: 28px;
                font-weight: bold;

                margin-bottom: 30px;

                letter-spacing: 1.5px;

                text-align: left;
            }

            .text {
                display: block;

                font-size: 20px;

                margin-bottom: 40px;

                text-align: left;
            }

            .tarelka {
                width: 300px;

                position: relative;
                right: 40px;
            }
        }

        .right {
            width: 50%;

            padding: 0 100px;

            box-sizing: border-box;

            text-align: left;

            .heading {
                font-size: 40px;
                font-weight: bold;

                margin-bottom: 30px;
                display: inline-block;
            }

            .control {
                margin-bottom: 20px;
            }

            .polytics {
                display: block;

                color: #fbca0e;

                text-align: center;

                text-decoration: none;
            }

            .upload {
                border: 1px solid #fff;
                border-radius: 0;

                color: #fff;

                .desc {
                    font-size: 10px;
                }
            }

            .filename {
                margin-top: 10px;

                font-size: 12px;
            }

            .checkbox-label {
                font-size: 13px;
            }

            .submit {
                border-radius: 15px;
                height: 50px;
                font-size: 29px;
            }
        }
    }

	.main {
		position: absolute;

		top: 760px;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;

		resize: none;

		width: 1200px;

		display: inline-block;

		.col {
			position: absolute;

			color: #fff;

			&.left {
				left: 80px;
			}

			&.center {
				left: 500px;
			}

			&.right {
				left: 900px;
			}
		}

		.colbottom {
			top: 130px;

			display: flex;

			align-items: center;

			a {
				color: #fff;

				text-decoration: none;
			}

			img {
				margin-right: 20px;
			}

			&.mail {
				font-size: 18px;

				text-align: left;

				.txt {
					font-size: 12px;
				}
			}

			&.time {
				font-size: 22px;
			}

			&.callback .btn {
				padding: 11px 20px;
				font-size: 23px;
				border-radius: 16px;

				background-color: #fbca0e;
				color: var(--main-header-color);
			}
		}

		.coltop {
			top: 47px;

			.rabotnik {
				display: flex;

				.info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					margin-left: 20px;

					.position {
						font-size: 16px;
					}

					.tel {
						font-size: 21px;

						text-decoration: none;

						color: #fff;
					}
				}
			}
		}

		.copyright {
			position: absolute;

			left: 0;
			right: 0;
			bottom: 13px;

			margin: auto;

			color: #fff;

			z-index: 1;

			font-size: 15px;
        }

		.social {
			position: absolute;
			left: 0;
			right: 0;

			margin: auto;

			bottom: 50px;

			.text {
				color: #fff;

				font-family: GlebastaFontBig;
				font-size: 26px;
			}

			.icons {
				margin-top: 10px;
			}

			.icon {
				margin: 0 10px;
			}
		}
	}
}
